body {
    height: 100%;
    width: 100%;
    background-color: #EDF5E7;
}

@font-face {
    font-family: 'Bowreghul';
    src: url('./fonts/Bowreghul.ttf');
}

#word-control-buttons {
    position: relative;
    left: 430px;
    top: 120px;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    height: 13%;
    width: 100%;
    font-family: 'Bowreghul';
    padding: 10px;
    text-align: center;
    font-size: 10vh;
    background-color: #05386B;
    color: #EDF5E7;
}

#user-form {
    position: relative;
    font-family: Arial;
    font-size: 20px;
    width: 1500px;
    color: #05386B;
    font-weight: bold;
}

#timer-container {
    position: absolute;
    width: 75%;
    top: 120px;
    left: 120px;
    font-family: Helvetica;
    font-size: 20px;
    color: #05386B;
}

#current-word-container {
    position: absolute;
    top: 110px;
    left: 230px;
    width: 75%;
    font-family: Arial;
    color: #05386B;
    font-weight: bold;
}

button {
    background-color: #05386B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font: "Open Sans";
    transition: transform 0.1s linear;
    margin: 5px;
}

button:hover {
    background-color: rgb(59, 107, 155);
    transform: scale(1.1);
}

button:active {
    transform: translateY(4px);
}

input[type=text] {
    background: #EDF5E7;
    border-color: #05386B;
    border-radius: 5%;
    padding: 10px;
    width: 20%;
}


/* #grid-and-ul {
    position: absolute;
    top: 300px;
    left: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
} */

#words-container {
    position: relative;
    border-radius: 5px;
    border-color: #379683;
    background-color:  rgb(183, 211, 209);
    position: absolute;
    right: 25%;
    top: 200px;
    width: 20%;
    height: 65%;
    font-family: Arial;
    color: #05386B;
    font-size: 30px;
    padding: 10px;
}

#letter {
    color: #379683;
    font-size: 30px;
    font-family: Arial;
    padding: none;
    margin: none;
}

#board-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #379683;
    padding: 10px;
    border-radius: 10px;
    top: 165px;
    left: 170px;
    width: 455px;
    height: 455px;
}

.empty-item {
    background-color: #80CBC4;
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin: 10px;
}

.item {
    background-color: #80CBC4;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin: auto;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: #05386B
}


#word-buttons {
    left: 300px;
    position: relative;
}

#finished {
    /* display: none; */
    position: absolute;
    left: 75%;
    top: 86%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    font-family: 'Bowreghul';
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 550px;
    height: 250px;
    color: #05386B;
    font-size: 3vh;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.other-features {
    display: none;
    position: absolute;
    left: 75%;
    top: 70%;
}

#modal-header {
    /* position: absolute;
    top: 0;
    left: 0; */
    /* height: 15%; */
    width: 100%;
    font-family: 'Bowreghul';
    /* padding: 10px; */
    text-align: center;
    font-size: 8vh;
    background-color: #05386B;
    color: #EDF5E7;
}

#score-num {
    color: #4C8FB9;
    font-size: 10vh;
    font-family: Luminari, fantasy;
    font-variant-numeric: oldstyle-nums;
}


/* Navy: #05386B
Dark green: #379683
neon green: #5cdB95
light green: #8EE4AF
whitish: #EDG5E1
Orange:  */